
.header{
    margin-bottom: 120px;
}

.car img{
    height: 100%;
    width: 100%;
}
.panda-bg-info{
    background-color: #fceae8;
}
.catagories img{
    width: 100px;
}
.buy-now-btn{
    background-color: #ff3082;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
}
.cat1{
    background-color: orange;
}
.cat2{
    background-color: orchid;
}
.cat3{
   background-color: blue;
}